.cms table.ss-gridfield-table tbody td button.gridfield-button-approve, .cms table.ss-gridfield-table tbody td button.gridfield-button-decline, .cms table.ss-gridfield-table tbody td button.gridfield-button-refund { 
    width: 15px; 
}
.gridfield-button-approve .ui-button-icon-primary, .gridfield-button-decline .ui-button-icon-primary, .gridfield-button-refund .ui-button-icon-primary {
    left: auto; 
}
