#payment-receipt * {
    font-family: firefly, Arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 20px !important;
    font-style: normal !important;
    letter-spacing: 1px !important;
    word-wrap: break-word !important;
    border-collapse: separate !important;
}
#payment-receipt {
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
}
#payment-receipt p {
    margin: 0;
    padding: 0;
}
#header {
    min-height: 15px;
    width: 100%;
    margin-bottom: 10px;
    background: #222;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}
#identity {
    clear: both;
}
#address {
    width: 350px;
    float: left;
}
#logo {
    text-align: right;
    float: right;
    position: relative;
    margin-top: 5px;
    max-width: 300px;
    max-height: 100px;
}
#customer {
    clear: both;
}
#customer-title {
    float: left;
    max-width: 350px;
}
#meta {
    margin-top: 1px;
    max-width: 300px;
    float: right;
}
#meta table {
    width: 100%;
    border-spacing: 1px;
    border: 1px; solid #999;
    background-color: #999;
}
#meta td, #meta th {
    background-color: #fff;
    padding: 5px;
    text-align: right;
}
#meta td.meta-head {
    font-weight: bold;
    text-align: left;
    background: #eee;
}
#items {
    margin-top: 1px;
    width: 100%;
    float: right;
}
#items table {
    width: 100%;
    border-spacing: 1px;
    border: 1px; solid #999;
    background-color: #999;
}
#items td, #items th {
    background-color: #fff;
    padding: 5px;
    text-align: left;
}
#items td.item-head {
    font-weight: bold;
    background: #eee;
}
#items .payment-method {
    vertical-align: top;
    width: 35%;
}
#items .payment-detail {
    width: 65%;
}
#terms {
    margin-top: 5px;
    text-transform: uppercase;
}
#action {
    text-align: right;
    margin-top: 10px;
}