#payment-receipt table {
    width: 100%;
    border-spacing: 1px;
    border: 1px; solid #999;
    background-color: #999;
}
#payment-items td, #payment-items th {
    background-color: #fff;
    padding: 5px;
}
#payment-items th {
    text-align: left;
    font-weight: bold;
    background: #eee;
}
#payment-items .payment-method {
    vertical-align: top;
    width: 35%;
}
#payment-items .payment-detail {
    width: 65%;
}
